<div class="panel panel-default">
    <div class="panel-heading">Welcome {{user.fullName}}!</div>
    <div class="panel-body">
        This administration panel allows you to monitor the status of your tablets. From here you can delegate
        the task of controlling these devices to people in your organization, and you can also configure which
        devices you want to receive notifications from.
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Here is a list of all your areas, rooms and devices configured
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <div ng-repeat="area in areas">
                <h4>{{area.name}}
                    <small>
                        - Send me updates:
                        <div class="btn-group btn-group-xs btn-toggle ">
                            <button class="btn btn-lg" ng-click="toggleSubscription(area)" ng-class="{'btn-default': !isSubscribed(area), 'btn-success active': isSubscribed(area)}">ON</button>
                            <button class="btn btn-lg" ng-click="toggleSubscription(area)" ng-class="{'btn-default active': !isSubscribed(area), 'btn-default': isSubscribed(area)}">OFF</button>
                        </div>
                    </small>
                </h4>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th>Resource Name</th>
                                <th>Device Id</th>
                                <th>Status</th>
                                <th>Last Update</th>
                                <th>Battery</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="device in area.devices" class="{{device.status}}">
                                <td>{{device.resourceName}}</td>
                                <td>{{device.deviceId}}</td>
                                <td>{{device.resourceStatus}}</td>
                                <td>{{device.lastUpdate}}</td>
                                <td>{{device.battery}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-if="areas.length == 0" align="center">
                <div class="alert alert-warning">
                    You don't have any devices registered. Maybe you need to get permissions from your administrator?
                </div>
                Download our app from:
                <a href=""><img src="img/googlebutton.png" height="70px" width="230px"/></a>
                Or download and compile the source code from:
                <a href=""><img src="img/gitbutton.png" height="70px" width="230px"/></a>
            </div>
        </li>
    </ul>
</div>
