<div class="row">
    <div class="center-form panel">
        <div class="panel-body">
            <h2 class="text-center">Log in</h2>
            <p>Please authenticate with the same account you used to configure your devices.</p>
            <p>This account should have access to all the calendars that your devices will be
                controlling.</p>
            <p>Please refer to the <a href="http://www.bilikpro.com/#!installation/clgf">Installation Guide</a>
                for more information.</p>
            <button class="btn btn-block btn-google-plus" ng-click="authenticate('google')">
                <span class="ion-social-googleplus"></span>Sign in with Google
            </button>
        </div>
    </div>
</div>